<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
      <!-- <app-logo></app-logo> -->
    <a class="navbar-brand" routerLink="/inicio"><app-logo></app-logo> AutomationCDA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Inicio</a>
        </li>
        <ng-container *ngIf="validationService.loggedIn()">
          <li class="nav-item" *ngFor="let menu of listMenus">
            <a class="nav-link" routerLink="{{menu.patch}}" routerLinkActive="active">{{menu.nombre}}</a>
          </li>
        </ng-container>         
      </ul>

      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="!validationService.loggedIn(); else loggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="/validation/login" routerLinkActive="active">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/validation/signup" routerLinkActive="active">Regístrate</a>
          </li>
        </ng-container>
        <ng-template #loggedIn>
          <li class="nav-item" >
            <a class="nav-link" style="cursor: pointer;" (click)="validationService.logOut()">Cerrar Sesión</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
