<div class="container mt-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="card">
        <div class="card-body text-center">
          <h2><span class="title">LISTADO DE REPUESTOS</span></h2>
          <table *ngIf="listRepuestos.length > 0" class="table table-striped mt-4">
            <thead>
              <tr>
                <th scope="col">Descripcion</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let repuesto of listRepuestos">
                <td>{{repuesto.descripcion}}</td>
                <td>{{repuesto.cantidad}}</td>
                <td>{{repuesto.precio | currency: '$'}}</td>
                <td>
                  <i class="fa-solid fa-plus text-success" routerLink="/repuesto/create-repuesto"><span class="tooltip-agregar"> Agregar </span></i>
                  <i (click)="editRepuesto(repuesto._id!)" class="fa-solid fa-pen-to-square text-primary"> <span class="tooltip-editar"> Editar </span> </i>
                  <i (click)="deleteRepuesto(repuesto._id!)" class="fa-solid fa-trash text-danger"><span class="tooltip-eliminar"> Eliminar </span></i> 
                </td>
              </tr>
            </tbody>
          </table>

          <h5 *ngIf="listRepuestos.length == 0" class="text-center">No hay Repuestos para mostrar</h5>
          
          <div *ngIf="listRepuestos.length == 0" class="text-center">
            <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

